<section class="feature" [ngStyle]="{'background-color': 'rgba(155,177,190,1)'}">
  <div class="content">
  <h1>The Office of Ven Gist (OoVG) is a multi-disciplinary design studio producing work focused on concept, utility, and identity.</h1>
  </div>
</section>

<div class="container text">
  <h2><span style="font-size: small;">Founder</span><br>Ven Gist</h2>
  <p>Ven Gist is a designer by trade, as well as by nature. He currently lives in Portland, Oregon but is constantly overwhelmed by Reykjavik dreams.</p>
  <h4><span style="font-size: small;">Collaborators</span><br>First Last</h4>
  <p>Content goes here.</p>
</div>