<section class="feature half" [ngStyle]="{'background-color': 'rgba(100,149,83,1)'}">
  <div class="content">
  <h1>The Office of Ven Gist (OoVG) is a multi-disciplinary design studio producing work focused on concept, utility, and identity.</h1>
  </div>
</section>

<!--<section class="feature half" [ngStyle]="{'background-color': 'rgba(0,0,0,.1)'}">
  <div class="content">
    <p>Design benefits all missions and we believe it should not be exclusive to those with lofty budgets. So, we've built a sliding pricing structure to ensure all organizations have access to design thinking and deliverables.</p>
    <h2>Utilizing our experience working with Non-profits and Startups, we've developed an agile workflow to satisfy all budgets. Ensuring you get the design outcome you need, without sacrificing quality.</h2>
    <h4>(Read: "No nickel and diming here")</h4>
    <a [routerLink]="['/connect']">Connect</a>
  </div>
</section>-->

<div class="container text">
  <div class="avatar" [ngStyle]="{'background-image': 'url(../assets/images/bio-ven.jpg)'}"></div>
  <h2><span style="font-size: small;">Founder</span><br>Ven Gist</h2>
  <p>Ven Gist is a designer by trade, as well as by nature. He currently lives in Portland, Oregon but is constantly overwhelmed by dreams of Reykjavik.</p>
  <h4>Network</h4>
  <p>When a project calls for it, the Office calls on its many collaborators to enhance or accelerate a project outcome. Collectively, we can satisfy just about any design requirements.</p>
  <h5>Want to join forces? <a href="mailto:office@vengist.com">Shoot over an email</a>.</h5>
  
</div>



