<div class="feature half" [ngStyle]="{'background-image': 'url(../assets/images/rustic-wood.jpg)'}">
  <div class="overlay teal"></div>
  <div class="content">
  <h1>The Office of Ven Gist (OoVG) is a multi-disciplinary design and technology studio producing work balanced by concept, identity, & utility.</h1>
  </div>
</div>

<div class="container text">
  <div class="rule large"></div>
  <h2>The Office</h2>
  <h4>Philosophy</h4>
  <p>Our goal, every time, is to deliver the absolute best outcome within a Client's budget and timeline. Our process is kept minimal and flexible enough to adjust accordingly to ensure all requirements are met and then some.</p>
  <p>We really (really) like to design for good. Significant discounts and credits are provided for Clients delivering social or environmental benefits.</p>
  <p>We want to always be there for you for emergent requests. No nickel and diming.</p>
  <h4>Process</h4>
  <p>Design Thinking is a powerful and crucial process. It can benefit any mission and help find solutions to most any problem. As such, it is our first stop along the design journey, and constantly revisited throughout all projects. Call it our base camp. From here, we can scale any mountain (or hill).</p>
  <h4>Sustainability</h4>
  <p>As Designers, we are responsible for the materials and practices we suggest to our Clients. As such, the Office proudly adheres to the sustainable methodology outlined by <a href="http://designersaccord.org" target="_blank">The Designers Accord</a>.</p>
  
</div>

<div class="container text">
  <div class="rule large"></div>
  <h2>Team</h2>
  
  <h4><span style="font-size: small;">Founder</span><br>Ven Gist</h4>
  <div class="avatar" [ngStyle]="{'background-image': 'url(../assets/images/bio-ven.jpg)'}"></div>
  <p>Ven Gist is a Designer by trade, as well as by nature. He started in Graphic Design, drinking a ton of coffee and hand drawing typography all day. As the bulk of our interactions moved more towards digital, he learned code to facilitate more effective collaboration with developers, leading to better project outcomes. Today, he creates within a broad spectrum of Design & Technology, occasionally pushing beyond.</p>
  <p>When out of office, he can most often be found rambling in the woods with his adventure pup, Mesrine.</p>
  <h4 class="break">Collaborators</h4>
  <p>As a project requires, the Office calls on its collaborators to enhance or accelerate a project outcome. Collectively, we can satisfy just about any design requirement.</p>
  <p>Looking to collaborate? <a href="mailto:collab@vengist.com">Shoot over an email</a>.</p>
</div>
  

<section class="container text">
  <div class="grid">
    <div class="rule large"></div>
    <h2>Services</h2>
    <div class="column">
      <h4>Design</h4>
      <div class="rule"></div>
      <ul>
        <li>Logos & Brand Systems</li>
        <li>Product & Web Design</li>
        <li>Prototyping</li>
        <li>Print & Digital Marketing</li>
        <li>Environments & Experiences </li>
        <li>Physical Goods</li>
      </ul>
    </div>
    <div class="column">
      <h4>Development</h4>
      <div class="rule"></div>
      <ul>
        <li>CSS/SASS/HTML</li>
        <li>Javascript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Python</li>
        <li>Ruby</li>
        <li>Wordpress/Squarespace</li>
      </ul>
    </div>
    <div class="column">
      <h4>Consulting</h4>
      <div class="rule"></div>
      <ul>
        <li>Strategy</li>
        <li>Design Thinking</li>
        <li>Marketing</li>
        <li>Facilitation</li>
        <li>Workshops</li>
      </ul>
    </div>
  </div>
</section>

<section class="feature sliver" [ngStyle]="{'background-color': 'rgba(110,127,211,1)'}">
  <div class="content">
    <h2>Have Design or Tech problems?<br>We've got you covered.</h2>  
    <h2><a [routerLink]="['/connect']">Let's Connect <div class="icon arrow"></div></a></h2>
  </div>
</section>





