<section class="feature half" [ngStyle]="{'background-color': 'rgba(238,73,92,1)'}">
  <div class="content filter">
    <h1>The Office produces considered design along the full spectrum.</h1>
    <p-checkbox class="item" [ngClass]="{'checked':filter.indexOf('Branding') !== -1}" name="filter" value="Branding" label="Branding" [(ngModel)]="filter"></p-checkbox>
    <div class="icon arrow"></div>
    <p-checkbox class="item" name="filter" value="Web" label="Web" [(ngModel)]="filter" [ngClass]="{'checked':filter.indexOf('Web') !== -1}"></p-checkbox>
    <div class="icon arrow"></div>
    <p-checkbox class="item" [ngClass]="{'checked':filter.indexOf('Print') !== -1}" name="filter" value="Print" label="Print" [(ngModel)]="filter"></p-checkbox>
    <div class="icon arrow"></div>
    <p-checkbox class="item" name="filter" value="Illustration" label="Illustration" [(ngModel)]="filter" [ngClass]="{'checked':filter.indexOf('Illustration') !== -1}"></p-checkbox> 
    <!--<div class="filter">
      <p-checkbox class="item" [ngClass]="{'checked':filter.indexOf('Branding') !== -1}" name="filter" value="Branding" label="Branding" [(ngModel)]="filter"></p-checkbox>
      <p-checkbox class="item" [ngClass]="{'checked':filter.indexOf('Print') !== -1}" name="filter" value="Print" label="Print" [(ngModel)]="filter"></p-checkbox>
      <p-checkbox class="item" name="filter" value="Product" label="Product" [(ngModel)]="filter" [ngClass]="{'checked':filter.indexOf('Product') !== -1}"></p-checkbox>
      <p-checkbox class="item" name="filter" value="Illustration" label="Illustration" [(ngModel)]="filter" [ngClass]="{'checked':filter.indexOf('Illustration') !== -1}"></p-checkbox>
    </div>-->
  </div>
  
</section>




<!-- List the Works -->

<div class="works">
  
  <div *ngFor="let work of works" class="work">
    <a href="#" [routerLink]="['/works', work.id]">
    <div class="works-item" *ngIf="test(work.types, filter)" [@ifWorkAnimate]="test(work.types, filter)">
      <div class="content">
        <div class="work-img" [ngStyle]="{'background-image': 'url(' + work.images[0].url + ')'}">
          <div class="overlay" [ngStyle]="{'background-color': '#' + work.color}"></div>
        </div>
        <div class="meta">
          <h6 class="number">No. {{work.id}}</h6>
          <div class="rule"></div>
          <h5 class="title">{{work.title}}</h5>
        </div>
      </div>
      
        <!--<div class="overlay"
             [ngStyle]="{'background-color': '#' + work.color}">
          <div class="container">
            
            <h6 class="caption">{{work.caption}}</h6>
            <a href="" [routerLink]="['/works', work.id]" class="button">View Context</a>
          </div>
        </div>-->
      
      
    
    </div>
    
    </a>
  </div>
  
</div>
