<section class="feature half" [ngStyle]="{'background-color': '#' + work.color}">
  <div class="content">
    <p><a [routerLink]="['/works']" [routerLinkActive]="['active']"><div class="icon arrow rotate180"></div> Works</a></p>
    <h1>{{work.title}}</h1>
    <p>{{work.caption}}</p>
    
  </div>
</section>

<section *ngIf="work" class="work-detail">
  
  <div class="tags">
      <div class="item" *ngFor="let type of work.types">{{type.name}}</div>
    </div>
  
  <p class="container text">{{work.desc}}</p>
  
  <div *ngFor="let image of work.images" class="work-img">
    <img src="{{image.url}}"/>
  </div>
    
</section>

<!--<button (click)="gotoWorksList()">Back to works list</button>-->
