<section class="feature half" [ngStyle]="{'background-color': 'rgba(155,177,190,1)'}">
  <div class="content">
    <h1>OoVG produces considered design across multiple disciplines focused on concept, utility, and identity.</h1>
  </div>
</section>

<!-- List the Works -->

<div class="works">
  
  <div *ngFor="let work of works" class="work">
    <div class="works-item" [ngStyle]="{'background-image': 'url(' + work.images[0].url + ')'}">
      <a href="#" [routerLink]="['/works', work.id]">
        <div class="overlay"
             [ngStyle]="{'background-color': '#' + work.color}">
          <div class="container">
            <h3 class="title">{{work.title}}</h3>
            <h6 class="caption">{{work.caption}}</h6>
            <a href="" [routerLink]="['/works', work.id]" class="button">View Context</a>
          </div>
        </div>
      </a>
    </div>
  </div>
  
</div>
