// Grid

.page {
  width: 100%;
  text-align: center;
  &.freeze {
    display: none;
  }
  .container {
    margin: 0 auto;
    max-width: 1200px;
    &.text {
      max-width: 800px !important;
    }
  }
}

// Feature

section.feature {
  height: 100vh;
  min-height: 420px;
  width: calc(100%);
  margin: 0px;
  background-color: $teal;
  background-size: cover;
  background-position: center center;
  &.half {
    height: 75vh;
    min-height: 420px;
  }
  >.content {
    @include vertical-align(relative);
    color: #FFF;
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
    h1 {
      color: #fff;
    }
    p {
      color: rgba(255,255,255,.85);
    }
    a { 
      color: rgba(255,255,255,.85);
      border-color: rgba(255,255,255,.85);
    }
  }
}