// Grid

section.page {
  width: 100%;
  text-align: center;
  .container {
    margin: 50px auto;
    max-width: 1200px;
    &.text {
      max-width: 600px !important;
    }
  }
}

section.intro {
  text-align: left;
  margin: 0 auto;
  max-width: 600px; 
}