// Header

.header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 25px 50px;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 1;
  transition: all .2s ease-in-out;
  background-color: rgba(216,228,232,0.9);
  &.hide {
    top: -100px;
    opacity: 0;
  }
  .logo {
    position: relative;
    width: auto;
    height: 80px;
    border: none;
    
  }
}

// Nav

nav {
  position: relative;
  width: auto;
  right: 250px;
  @include vertical-align();
  a {
    font-size: 1.35em;
    width: auto;
    display: inline-block;
    margin: 0 15px 0 0;
  }
}