// Header

.header {
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 1;
  transition: all .2s ease-in-out;
  &.bg {
    background-color: rgba(255,255,255,0.2);
  }
  &.hide {
    top: -100px;
    opacity: 0;
  }
}

// Desktop Navigation

nav.desktop {
  position: absolute;
  width: auto;
  top: 35px;
  right: 0;
  a {
    font-size: 1.35em;
    width: auto;
    display: inline-block;
    margin: 0 15px 0 0;
    &.active, &:hover {
    }
  } 
}

.desktop-only.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.desktop-only .logo {
  position: absolute;
  z-index: 1;
  top: 20px;
  margin: 0 auto;
  left: 0;
  border: none;
  >img {
    height: 80px;
    width: auto;
  }
}

// Mobile Navigation

p-togglebutton {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
}

.ui-button-text {
  display: none;
}

.ui-helper-hidden-accessible {
  input[type='checkbox'] {
    appearance: none;
    cursor: pointer;
    font-family: 'sofia-pro', sans-serif;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    font: normal normal normal 24px/1 FontAwesome;
    
    &:focus { outline: none;}
    &:after {
      content: '\f0c9';
      color: $salmon;
      transition: all .2s ease-in-out;
    }
    &:hover:after {
      transition: all .2s ease-in-out;
      color: $primary-color;
    }
  }
}

.checked {
  .ui-helper-hidden-accessible > input[type='checkbox'] {
    &:after {
      content: '\f00d' !important;
    }
  }
}

.mobile-only .logo {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 30px;
  border: none;
  >img {
    height: 60px;
    width: 60px;
  }
}


nav.mobile {
  transition: all .3s ease-in-out;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  .button-group {
    text-align: right;
  }
  
  &.menuOpen {
    pointer-events: all;
    opacity: 1;
    background: rgba(255,255,255,1);
  }
  button {
    text-align: right;
    font-size: 1.75em;
    width: auto;
    display: block;
    margin: 15px auto;
    &.active, &:hover {
    }
    &:nth-child(1) {
      margin-top: 120px;
    }
  } 
}
