// Loader

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgba(238,73,92,0.85);
  margin: 0;
  padding: 0;
  .content {
    @include vertical-align();
    h1 {
      text-align: center;
      color: #FFF;
    }
  }
}