// Media Queries

//Above Grid

@media all and (min-width: 1101px) {

  .mobile-only {
    display: none;
  }
  
  .desktop-only {
    display: block;
  }
  
}

// Below Grid

@media all and (max-width: 1100px) {

  
  
  h1, h2, h3 {
    font-size: 2.5em;
  }
  
  .work .works-item .overlay .container .title { font-size: 1.25em; }
  
  .mobile-only {
    display: block;
  }
  
  .desktop-only {
    display: none;
  }
  
  .grid {
    .column {
      display: block;
      width: 100% !important;
      margin: 0 0 100px 0;
    }
  }
  
  

}

// Mobile only

@media all and (max-width: 480px) {
  
  .work {
    display: block;
    .works-item {
      width: 280px;
      margin: 25px auto 100px auto;
      .content {
        .work-img {
          width: 280px;
          height: 280px;
          margin: 0 auto;
        }
      }
    }
  }
  
  .avatar {
    float: none;
    display: block;
    margin: 0 auto;
  }
  
  // Mobile Filter
  
  .filter {
    position: relative;
    margin-top: 40px;
    text-align: center;
    .item {
      position: relative;
      font-size: 1.5em;
      text-align: center;
      .ui-chkbox-label:after {
        height: 4px;
      }
      &:not(.checked) .ui-chkbox-label:after {
        height: 4px;
      }
    }
    .icon.arrow {
      display: block;
      margin: 10px auto;
      transform: rotate(90deg);
    }
  }
  
  .huge {
    font-size: 3em;
  }
  
  h1, {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  
  h3, h4, h4, h5, h6 {
    font-size: 1.5em;
  }
  
  .feature {
    min-height: 480px;
    > .content {
      padding: 120px 30px 80px 30px;
    }
  }
  
  .filter {
    .item {
      display: none;
    }
    .icon.arrow {
     display: none; 
    }
    p {
      display: none;
    }
  }
  
}
