// Media Queries

// Below Grid

@media all and (max-width: 1100px) {

.work {
  display: block;
  .works-item {
    width: 280px;
    height: 280px;
    margin: 20px auto;
  }
}
  
  section.feature {
    height: 50vh;
  }
  
  h1, h2 {
    font-size: 1.5em;
  }

}
