// Variables

$primary-color: #220f25;
$subdued: rgba(211,211,229,1);
$teal: rgba(142,184,208,1);
$salmon: rgba(238,73,92,1);
$evergreen: rgba(100,149,83,1);
$sky: rgba(110,127,211,1); 
$warm-grey: rgba(79,73,73,1);