// Variables

$primary-color: rgba(32,33,84,1);
$secondary: rgba(104,98,131,1);

$background: rgba(255,255,255,1);
$subdued: rgba(234,236,239,1);

$teal: rgba(155,177,190,1);
$salmon: rgba(238,73,92,1);
$evergreen: rgba(100,149,83,1);
$sky: rgba(110,127,211,1); 
$warm-grey: rgba(79,73,73,1);