// Works

.works { 
  margin: 20px 0 0 0;
  width: 100%;
  position: relative;
}
.work {
  position: relative;
  display: inline-block;
  text-align: center;
  .works-item { 
    z-index: 0;
    border-radius: 50%;
    width: 420px;
    height: 420px;
    margin: 25px;
    background-size: cover;
    background-position: center center;
    position: relative;
    .overlay {
      opacity:0;
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all .3s ease-in-out;
      &.salmon {
        background-color: rgba(238,73,92,0.9);
      }
      &.teal {
        background-color: rgba(142,184,208,0.9);
      }
      &.warm-grey {
        background-color: rgba(79,73,73,0.9);
      }
      &.evergreen {
        background-color: rgba(100,149,83,0.9);
      }
      &:hover {
        opacity: 1;
        width: 100%;
        height: 100%;
      }
      .container {
        @include vertical-align();
        width: 100%;
        .title { 
          text-align: center;
          color: #fff;
          font-size: 2em;
          margin: 0px;
          padding: 0 25px;
        }
        .caption {
          text-align: center; 
          color: #fff;
          margin: .75em auto 2em auto;
          padding: 0 25px;
        }
        a.button {
          margin: 0px;
        }
      }
    }
  }
}

// Tags

.tags {
  margin: 30px auto;
  width: 100%;
  .item { 
    display: inline-block;
    width: auto;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 30px;
    padding: 5px 10px;
    border: 2px solid; 
    transition: all .1s linear;
    &:not(last-child) {
      margin-right: 10px;
    }
    
    &.salmon {
      border-color: $salmon;
      color: $salmon;
    }
    &.teal {
      border-color: $teal;
      color: $teal;
    }
    &.evergreen {
      border-color: $evergreen;
      color: $evergreen; 
    }
    &.sky {
      border-color: $sky;
      color: $sky; 
    }
    &.warm-grey {
      border-color: $warm-grey;
      color: $warm-grey; 
    }
    &:hover {
      border-color: $subdued; 
      color: $subdued;
      cursor: pointer;
    }
  }
}

// Filter

.filter {
  margin: 30px auto;
  width: 100%;
  .item {
    position: relative;
    display: inline-block;
    width: auto;
    transition: all .1s linear;
    cursor: pointer;
    color: $subdued;
    &.checked { color: $primary-color; }
    &.checked:focus, &.checked:active { color: $primary-color;}
    &:not(.checked):focus, &:not(.checked):active { color: $subdued; }
    // &:hover { color: $subdued; }
    &:not(last-child) {
      margin-right: 1px;
    }
    .ui-chkbox {
    }
    .ui-chkbox-box {
    }
    .ui-chkbox-icon {
      display: none;
    }
    .ui-chkbox-label {
      border: 2px solid;
      cursor: pointer;
      width: auto;
      padding: 10px 15px 10px 30px;
      &:after {
        @include vertical-align();
        left: 10px;
        display: inline-block;
        background-color: none;
        width: 10px;
        height: 10px;
        float: left;
        content: '';
        border: 2px solid;
        border-radius: 50%;
      }
    }
  }
}

.filter .item {
  &.checked {
    transition: all .2s linear;
    .ui-chkbox-label {
      &:after {
        @include vertical-align();
        left: 10px;
        display: inline-block;
        background-color: $primary-color;
        width: 10px;
        height: 10px;
        float: left;
        content: '';
        border: 2px solid;
        border-radius: 50%;
      }
      &:hover:after {
        // background-color: $subdued;
      }
    }
  }
}


// Work-detail

.work-detail {
  margin: 0;
  .work-img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px;
  }
  p {
    margin: 50px auto !important;
    color: #aaa;
  }
}




