// Base

// Imports

@import 'variables';
@import 'grid';
@import 'typography';
@import 'loader';
@import 'works';
@import 'media';

// Styles

body {
  font-family: 'sofia-pro', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $primary-color;
}

p { 
  font-family: 'sofia-pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 900;
  color: $primary-color;
}



img { max-width: 100%; }

a { 
  text-decoration: none;
    color: $salmon;
    border-bottom: 2px solid $salmon;
  &:hover {
    color: $teal;
    border-bottom: 2px solid $teal;
  }
}

// Header

.header {
  text-align: center;
  a {
    border: none;
  }
  .logo {
    margin: 25px;
    width: auto;
    height: 80px;
  }
}

// Nav

nav {
  text-align: center;
  a {
    display: inline-block;
    margin-right: 30px;
  }
}

// Buttons

a.button {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 15px;
}


