<section class="header">
  <a class="" [routerLink]="['/']" [routerLinkActive]="['active']"><img class="logo" src="../assets/images/oovg-logo-primary.png"></a>
</section>

<nav>
  <a class="" [routerLink]="['/works']" [routerLinkActive]="['active']">Works</a>
  <a class="" [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
  <a class="" [routerLink]="['/connect']" [routerLinkActive]="['active']">Connect</a>
</nav>


<div class="page">
  <router-outlet [@routerTransition]=""></router-outlet>
</div>
