<section class="header" [ngClass]="{'hide': (direction==='down' && lastScrollTop>20 && !checked), 'bg':lastScrollTop>420}">
  <div class="desktop-only container">
    <a class="logo" [routerLink]="['/']" [routerLinkActive]="['active']"><img src="../assets/images/oovg-logo-primary.png"></a>

    <nav class="desktop" >
      <a class="" [routerLink]="['/works']" [routerLinkActive]="['active']">Work</a>
      <a class="" [routerLink]="['/about']" [routerLinkActive]="['active']">Office</a>
      <a class="" [routerLink]="['/connect']" [routerLinkActive]="['active']">Connect</a>
    </nav>
  </div>
  
  <div class="mobile-only container">
    <a class="logo" [routerLink]="['/']" [routerLinkActive]="['active']"><img src="../assets/images/oovg-logo-primary.png"></a>
    <!-- Testing
    <p-toggleButton class="hamburger" [(ngModel)]="checked" [ngClass]="{'checked': checked}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><title>icon</title><path d="M57.1,8.5H2.9a2.5,2.5,0,0,1,0-5H57.1A2.5,2.5,0,0,1,57.1,8.5Z" /><path d="M57.1,32.5H2.9a2.5,2.5,0,0,1,0-5H57.1A2.5,2.5,0,0,1,57.1,32.5Z" /><path d="M57.1,56.5H2.9a2.5,2.5,0,0,1,0-5H57.1A2.5,2.5,0,0,1,57.1,56.5Z" /></svg></p-toggleButton>
    -->
    <div class="spinner-master2">
      <input type="checkbox" id="spinner-form2" [(ngModel)]="checked"/>
      <label for="spinner-form2" class="spinner-spin2">
        <div class="spinner2 diagonal part-1"></div>
        <div class="spinner2 horizontal"></div>
        <div class="spinner2 diagonal part-2"></div>
      </label>
    </div>
    <nav class="mobile" [ngClass]="{'menuOpen': checked}">
      <div class="button-group">
        <button class="" (click)="checked = !checked" [routerLink]="['/works']" [routerLinkActive]="['active']">Work</button>
        <button class="" (click)="checked = !checked" [routerLink]="['/about']" [routerLinkActive]="['active']">Office</button>
        <button class="" (click)="checked = !checked" [routerLink]="['/connect']" [routerLinkActive]="['active']">Connect</button>
      </div>
    </nav>
  </div>
  
</section>


<div class="page" [ngClass]="{'freeze': checked}">
  <router-outlet [@routerTransition]=""></router-outlet>
</div>
