<section class="header" [ngClass]="{'hide': (direction==='down' && lastScrollTop>10), 'bg':lastScrollTop>420}">
  <a class="logo" [routerLink]="['/']" [routerLinkActive]="['active']"><img class="logo" src="../assets/images/oovg-logo-primary.png"></a>
  <nav>
    <a class="" [routerLink]="['/works']" [routerLinkActive]="['active']">Work</a>
    <a class="" [routerLink]="['/about']" [routerLinkActive]="['active']">Office</a>
    <a class="" [routerLink]="['/connect']" [routerLinkActive]="['active']">Connect</a>
  </nav>
</section>


<div class="page">
  <router-outlet [@routerTransition]=""></router-outlet>
</div>
