<section class="feature half light" [ngStyle]="{'background-image': 'url(../assets/images/loader.jpg)'}">
  <div class="content">
    <h1>The Office is Happily located in lovely Portland, Oregon.</h1>
  </div>
</section>

<section class="container text">
  <div class="rule large"></div>
    <h2>New Clients</h2>
    <div class="rule"></div>
    <h4>All new projects begin with a free discovery consultation.</h4>
    <p>Let's get together and discuss your goals. We'll help develop a plan of attack.</p>
    <p><a href="mailto:office@vengist.com">office@vengist.com</a></p>
</section>

<div class="container text">
  <div class="rule large"></div>
  <div class="grid">
    <div class="column half">
      <h4>Collaborate</h4>
      <p>Collaboration is key. The Office is always looking for more collaborators to bring into our projects.</p>
      <p>Illustrators, Engineers, Writers, Photographers, are all welcome.</p>
      <a href="mailto:collab@vengist.com">collab@vengist.com</a>
    </div>
    <div class="column half">
      <h4>Social</h4>
      <div class="group">
        <a class="border-none" href="https://instagram.com/theofficeismild" target="_blank">
            <div class="fa fa-instagram fa-3x"></div></a>
        <a class="border-none" href="https://twitter.com/vengist" target="_blank">
            <div class="fa fa-twitter fa-3x"></div></a>
        <a class="border-none" href="https://www.linkedin.com/in/vengist/" target="_blank">
          <div class="fa fa-linkedin fa-3x"></div></a>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="container text">
  <div class="grid">
    <div class="rule large"></div>
    <h2>Connect</h2>
    <div class="column">
      <h4>New Work</h4>
      <p><a href="mailto:office@vengist.com">office@vengist.com</a></p>
    </div>
    <div class="column">
      <h4>Collaborate</h4>
      <p><a href="mailto:collaborate@vengist.com">collaborate@vengist.com</a></p>
    </div>
    <div class="column">
      <h4>General</h4>
      <p><a href="mailto:hello@vengist.com">hello@vengist.com</a></p>
    </div>
  </div>
  <div class="grid">
    <div class="rule large"></div>
    <h2>Social</h2>
    <div class="column">
      <a class="border-none" href="https://instagram.com/theofficeismild" target="_blank">
        <div class="fa fa-instagram fa-3x"></div></a>
    </div>
    <div class="column">
      <a class="border-none" href="https://twitter.com/vengist" target="_blank">
        <div class="fa fa-twitter fa-3x"></div></a>
    </div>
    <div class="column">
      <a class="border-none" href="https://www.linkedin.com/in/vengist/" target="_blank">
      <div class="fa fa-linkedin fa-3x"></div></a>
    </div>
  </div>
</div>

-->

